body {
    margin: 0px;
}

.section-1 {
    background-color: #1f2937;
    padding-left: 260px;
    padding-right: 260px;
    padding-bottom: 165px;
}

.hero h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    margin-top: 32px;
    margin-bottom: 0;
}

.header ul,
.hero p {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0;
    margin-bottom: 4px;
}

.header p {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 155px;
    align-items: baseline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
}

.hero img {
    height: 300px;
    width: 650px;
    flex-shrink: 0;
    margin-left: 70px;
}

.section-2 h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    text-align: center;
}

.information {
    display: flex;
    justify-content: center;
}

.quote {
    background-color: #e5e7eb;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    text-align: center;
}
